@import url("../../styles/base.css");

.topbar {	
	position: fixed;
	top: 0;
	left: 0;

	z-index: 10;

	height: var(--topbar-height);
	width: 100%;

	padding: 0 25px;
	
	line-height: var(--topbar-height);

	color: #fff;
	background: #48b5e9;

	a {
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 1px;

		line-height: 40px;

		h1 { 
			font-size: 28px;
		}

	}
	section {
		position: absolute;
		top: 0px;
		right: 25px;
	}
}